/*Fonts*/
@font-face {
  font-family: 'DINPro';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/DINProRegular.eot');
  src: url('../fonts/DINProRegular.eot') format('embedded-opentype'),
    url('../fonts/DINProRegular.woff2') format('woff2'),
    url('../fonts/DINProRegular.woff') format('woff'),
    url('../fonts/DINProRegular.ttf') format('truetype'),
    url('../fonts/DINProRegular.svg#DINProRegular') format('svg');  
}
@font-face {
  font-family: 'DINPro';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/DINProBold.eot');
  src: url('../fonts/DINProBold.eot') format('embedded-opentype'),
    url('../fonts/DINProBold.woff2') format('woff2'),
    url('../fonts/DINProBold.woff') format('woff'),
    url('../fonts/DINProBold.ttf') format('truetype'),
    url('../fonts/DINProBold.svg#DINProBold') format('svg');  
}

@font-face {
  font-family: 'Majesti';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/MajestiBannerMedium.eot');
  src: url('../fonts/MajestiBannerMedium.eot') format('embedded-opentype'),
       url('../fonts/MajestiBannerMedium.woff2') format('woff2'),
       url('../fonts/MajestiBannerMedium.woff') format('woff'),
       url('../fonts/MajestiBannerMedium.ttf') format('truetype'),
       url('../fonts/MajestiBannerMedium.svg#MajestiBannerMedium') format('svg');
}
@font-face {
  font-family: 'Majesti';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/MajestiBannerBold.eot');
  src: url('../fonts/MajestiBannerBold.eot') format('embedded-opentype'),
       url('../fonts/MajestiBannerBold.woff2') format('woff2'),
       url('../fonts/MajestiBannerBold.woff') format('woff'),
       url('../fonts/MajestiBannerBold.ttf') format('truetype'),
       url('../fonts/MajestiBannerBold.svg#MajestiBannerBold') format('svg');
}

body{
	font-family: 'DINPro',serif;
  background-color: #d5002a;
}
#login {
    max-width: 	100%;
}
.login h1 a {
    background-image: url(../img/logo.svg);
	background-size: contain;   
	width: 320px;
	margin: 0 auto 20px;
}
.login form {
    padding: 35px;
}
.login #login_error,
 .login .message {
    border-left: 4px solid #00a0d2;
    padding: 12px;
    margin-left: 0;
    background-color: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
    line-height: 1.4;
}
#wp-submit {
  display: inline-block;
  height: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 10px 25px;
  text-decoration: none;
  color: #d5002a;
  -webkit-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;
  font-family: 'DINPro',serif;
  border-style: solid;
  border: 1px solid #d5002a; 
  background: transparent;
  border-radius: 0;   
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
}
#login form p.submit {
    float: none;
    display: table;
    margin: 0 auto;
    padding-top: 30px;
}
#wp-submit:hover {
    color: #FFF;
    background-color: #d5002a;
}
.login label{
    color: #000;
    font-family: 'DINPro',serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 700;
}
input[type=checkbox]:checked:before {
    color: #000;
}
input[type=text]:focus, input[type=search]:focus, input[type=radio]:focus, input[type=tel]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, input[type=password]:focus, input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, select:focus, textarea:focus {
  border-color: #000;
  box-shadow: none;
}
.login form .input,
.login input[type=text] {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d5002a;
    color: #000;
    font-size: 16px;
    line-height: 26px;
    font-family: Chronicle,serif;
    font-weight: 400;
    font-style: normal;
    padding: 8px 0;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.login #backtoblog a, .login #nav a {
    color: #fff;
}
.login #backtoblog a:hover, .login #nav a:hover, .login h1 a:hover {
    color: white;
	font-weight: bold;
}
.login #login_error, .login .message {
    border-left: 4px solid red;
}
