.animate_start {
	-webkit-animation-duration: 0.7s;
			animation-duration: 0.7s;
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
	-webkit-transition-timing-function: cubic-bezier(.78,.13,.15,.86);
			transition-timing-function: cubic-bezier(.78,.13,.15,.86);
}
	
/* Fade */
@keyframes fade {
	from { opacity: 0; }
	to { opacity: 1; }
	}
@-webkit-keyframes fade {
	from { opacity: 0; }
	to { opacity: 1; }
	}
.animate_fade {
	opacity: 0;
	}
.animate_fade.animate_start {
	-webkit-animation-name: fade;
			animation-name: fade;
	opacity: 1;
	}

/* Appear From Center */
@keyframes afc {
	from { opacity: 0; transform: scale(0.2); }
	to { opacity: 1; transform: scale(1); }
	}
@-webkit-keyframes afc {
	from { opacity: 0; -webkit-transform: scale(0.2); }
	to { opacity: 1; -webkit-transform: scale(1); }
	}
.animate_afc {
	opacity: 0;
	}
.animate_afc.animate_start {
	-webkit-animation-name: afc;
			animation-name: afc;
	opacity: 1;
	}

/* Appear From Left */
@keyframes afl {
	from { opacity: 0; transform: translateX(-50px); }
	to { opacity: 1; transform: translateX(0); }
	}
@-webkit-keyframes afl {
	from { opacity: 0; -webkit-transform: translateX(-50px); }
	to { opacity: 1; -webkit-transform: translateX(0); }
	}
.animate_afl {
	opacity: 0;
	}
.animate_afl.animate_start {
	-webkit-animation-name: afl;
			animation-name: afl;
	opacity: 1;
	}

/* Appear From Right */
@keyframes afr {
	from { opacity: 0; transform: translateX(50px); }
	to { opacity: 1; transform: translateX(0); }
	}
@-webkit-keyframes afr {
	from { opacity: 0; -webkit-transform: translateX(50px); }
	to { opacity: 1; -webkit-transform: translateX(0); }
	}
.animate_afr {
	opacity: 0;
	}
.animate_afr.animate_start {
	-webkit-animation-name: afr;
			animation-name: afr;
	opacity: 1;
	}

/* Appear From Top */
@keyframes aft {
	from { opacity: 0; transform: translateY(-150px); }
	to { opacity: 1; transform: translateY(0); }
	}
@-webkit-keyframes aft {
	from { opacity: 0; -webkit-transform: translateY(-150px); }
	to { opacity: 1; -webkit-transform: translateY(0); }
	}
.animate_aft {
	opacity: 0;
	}
.animate_aft.animate_start {
	-webkit-animation-name: aft;
			animation-name: aft;
	opacity: 1;
	}

/* Appear From Bottom */
@keyframes afb {
	from { opacity: 0; transform: translateY(50px); }
	to { opacity: 1; transform: translateY(0); }
	}
@-webkit-keyframes afb {
	from { opacity: 0; -webkit-transform: translateY(50px); }
	to { opacity: 1; -webkit-transform: translateY(0); }
	}
.animate_afb {
	opacity: 0;
	}
.animate_afb.animate_start {
	-webkit-animation-name: afb;
			animation-name: afb;
	opacity: 1;
	}

/* Width From Center */
@keyframes wfc {
	from { opacity: 0; transform: scaleX(0.01); }
	to { opacity: 1; transform: scaleX(1); }
	}
@-webkit-keyframes wfc {
	from { opacity: 0; -webkit-transform: scaleX(0.01); }
	to { opacity: 1; -webkit-transform: scaleX(1); }
	}
.animate_wfc {
	opacity: 0;
	}
.animate_wfc.animate_start {
	-webkit-animation-name: wfc;
			animation-name: wfc;
	opacity: 1;
	}

/* Height From Center */
@keyframes hfc {
	from { opacity: 0; transform: scaleY(0.01); }
	to { opacity: 1; transform: scaleY(1); }
	}
@-webkit-keyframes hfc {
	from { opacity: 0; -webkit-transform: scaleY(0.01); }
	to { opacity: 1; -webkit-transform: scaleY(1); }
	}
.animate_hfc {
	opacity: 0;
	}
.animate_hfc.animate_start {
	-webkit-animation-name: hfc;
			animation-name: hfc;
	opacity: 1;
	}

/* Animation Delays */
.d1.animate_start {
	-webkit-animation-delay: 0.1s;
			animation-delay: 0.2s;
	}
.d2.animate_start {
	-webkit-animation-delay: 0.2s;
			animation-delay: 0.2s;
	}
.d3.animate_start {
	-webkit-animation-delay: 0.3s;
			animation-delay: 0.3s;
	}
.d4.animate_start {
	-webkit-animation-delay: 0.4s;
			animation-delay: 0.4s;
	}
.d5.animate_start {
	-webkit-animation-delay: 5s;
			animation-delay: 5s;
	}
.d6.animate_start {
	-webkit-animation-delay: 6s;
			animation-delay: 6s;
	}
.d7.animate_start {
	-webkit-animation-delay: 7s;
			animation-delay: 7s;
	}
.d8.animate_start {
	-webkit-animation-delay: 8s;
			animation-delay: 8s;
	}
.d9.animate_start {
	-webkit-animation-delay: 9s;
			animation-delay: 9s;
	}
.d10.animate_start {
	-webkit-animation-delay: 1s;
			animation-delay: 1s;
	}
.d11.animate_start {
	-webkit-animation-delay: 1.1s;
			animation-delay: 1.1s;
	}
.d12.animate_start {
	-webkit-animation-delay: 1.2s;
			animation-delay: 1.2s;
	}
.d13.animate_start {
	-webkit-animation-delay: 1.3s;
			animation-delay: 1.3s;
	}
.d14.animate_start {
	-webkit-animation-delay: 1.4s;
			animation-delay: 1.4s;
	}
.d15.animate_start {
	-webkit-animation-delay: 1.5s;
			animation-delay: 1.5s;
	}

/* Animation Speed */
.s1.animate_start {
	-webkit-animation-duration: 0.6s;
			animation-duration: 0.6s;
	}
.s2.animate_start {
	-webkit-animation-duration: 0.8s;
			animation-duration: 0.8s;
	}
.s3.animate_start {
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
	}
.s4.animate_start {
	-webkit-animation-duration: 1.2s;
			animation-duration: 1.2s;
	}
.s5.animate_start {
	-webkit-animation-duration: 1.4s;
			animation-duration: 1.4s;
	}

/* Grid material design reveal */
.animate_revealgrid .animate_reveal {
	opacity: 0;
	}

/* Disable effects */
.disable_effects .animate_afc,
.disable_effects .animate_aft,
.disable_effects .animate_afb,
.disable_effects .animate_afl,
.disable_effects .animate_afr,
.disable_effects .animate_wfc,
.disable_effects .animate_hfc,
.disable_effects .animate_rfl,
.disable_effects .animate_rfr,
.disable_effects .animate_rfc,
.disable_effects .animate_revealgrid .animate_reveal,
.vc_editor.compose-mode .animate_afc,
.vc_editor.compose-mode .animate_aft,
.vc_editor.compose-mode .animate_afb,
.vc_editor.compose-mode .animate_afl,
.vc_editor.compose-mode .animate_afr,
.vc_editor.compose-mode .animate_wfc,
.vc_editor.compose-mode .animate_hfc,
.vc_editor.compose-mode .animate_rfl,
.vc_editor.compose-mode .animate_rfr,
.vc_editor.compose-mode .animate_rfc,
.vc_editor.compose-mode .animate_revealgrid .animate_reveal {
	opacity: 1;
	-webkit-animation: none !important;
			animation: none !important;
}

/* Menu button hamburguer */
@keyframes clip_ellipse {
	from { clip-path: ellipse(0% 0% at 50% 50%); }
	to { clip-path: ellipse(70% 60% at 50% 50%); }
	}
@-webkit-keyframes clip_ellipse {
	from { clip-path: ellipse(0% 0% at 50% 50%); }
	to { clip-path: ellipse(70% 60% at 50% 50%); }
	}
.animate_clip_ellipse {
	clip-path: ellipse(0% 0% at 50% 50%);
	}
.animate_clip_ellipse.animate_start {
	-webkit-animation-name: clip_ellipse;
			animation-name: clip_ellipse;
	clip-path: ellipse(70% 60% at 50% 50%);
}
@-webkit-keyframes jiggleLeft{
50%{
-webkit-transform:translateX(10px);
transform:translateX(10px)}
100%{
-webkit-transform:translateX(-25px);
transform:translateX(-25px)}
}
@keyframes jiggleLeft{
50%{
-webkit-transform:translateX(10px);
transform:translateX(10px)}
100%{
-webkit-transform:translateX(-25px);
transform:translateX(-25px)}
}
@-webkit-keyframes jiggleRight{
50%{
-webkit-transform:translateX(-10px);
transform:translateX(-10px)}
100%{
-webkit-transform:translateX(25px);
transform:translateX(25px)}
}
@keyframes jiggleRight{
50%{
-webkit-transform:translateX(-10px);
transform:translateX(-10px)}
100%{
-webkit-transform:translateX(25px);
transform:translateX(25px)}
}
@-webkit-keyframes jiggleClose{
0%{
-webkit-transform:translateX(-25px);
transform:translateX(-25px)}
50%{
-webkit-transform:translateX(10px);
transform:translateX(10px)}
100%{
-webkit-transform:translateX(0px);
transform:translateX(0px)}
}
@keyframes jiggleClose{
0%{
-webkit-transform:translateX(-25px);
transform:translateX(-25px)}
50%{
-webkit-transform:translateX(10px);
transform:translateX(10px)}
100%{
-webkit-transform:translateX(0px);
transform:translateX(0px)}
}
@-webkit-keyframes crossLeft{
100%{
-webkit-transform:translateY(0px) translateX(0px) rotate(-45deg);
transform:translateY(0px) translateX(0px) rotate(-45deg)}
}
@keyframes crossLeft{
100%{
-webkit-transform:translateY(0px) translateX(0px) rotate(-45deg);
transform:translateY(0px) translateX(0px) rotate(-45deg)}
}
@-webkit-keyframes crossLeftClose{
100%{
-webkit-transform:translateY(30px) translateX(30px) rotate(-45deg);
transform:translateY(30px) translateX(30px) rotate(-45deg)}
}
@keyframes crossLeftClose{
100%{
-webkit-transform:translateY(30px) translateX(30px) rotate(-45deg);
transform:translateY(30px) translateX(30px) rotate(-45deg)}
}
@-webkit-keyframes crossRight{
100%{
-webkit-transform:translateY(0px) translateX(0px) rotate(45deg);
transform:translateY(0px) translateX(0px) rotate(45deg)}
}
@keyframes crossRight{
100%{
-webkit-transform:translateY(0px) translateX(0px) rotate(45deg);
transform:translateY(0px) translateX(0px) rotate(45deg)}
}
@-webkit-keyframes crossRightClose{
100%{
-webkit-transform:translateY(30px) translateX(-30px) rotate(45deg);
transform:translateY(30px) translateX(-30px) rotate(45deg)}
}
@keyframes crossRightClose{
100%{
-webkit-transform:translateY(30px) translateX(-30px) rotate(45deg);
transform:translateY(30px) translateX(-30px) rotate(45deg)}
}

/*Magnific Popup*/
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}