@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata.eot');
    src: url('fonts/Inconsolata.eot') format('embedded-opentype'),
         url('fonts/Inconsolata.woff2') format('woff2'),
         url('fonts/Inconsolata.woff') format('woff'),
         url('fonts/Inconsolata.ttf') format('truetype'),
         url('fonts/Inconsolata.svg#Inconsolata') format('svg');
}
